<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kano.security.mapper.MemberMapper">


    <select id="findByName" resultType="com.kano.security.entity.dto.MemberDO">

        select * from member where name=#{name}

    </select>
</mapper>